* {
  box-sizing: border-box;
}

body{

           background-color:floralwhite;
           background-position: center;
           background-repeat: repeat-y;
           background-attachment: fixed;
           margin: 0;


   }

/* Style the header */
.header {
  background-color: #f1f1f1;
  padding: 20px;
  text-align: center;
  justify-content: center;
}

/* Style the top navigation bar */
.topnav {
  display: flex;
  overflow: hidden;
  border-bottom: 3px groove  blue;
  justify-content: center;
  align-items: center;
  padding: 25px 0;
}

/* Style the topnav links */
