<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>android projects</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="project.css">
</head>
<body>
  <header>
    <h1>CODE PLAYGROUND</h1>
  </header>
  <nav class="navbar navbar-dark bg-primary">
 <a href="a1.html">BACK</a>
 <a href="p2.html">HOME</a>
   <a href="home.html">REGISTRATION</a>
    <a href="home.html">SIGN OUT</a>
</nav>
<div class="container">
<a href="https://github.com/projectworlds32/Women-Safety-App-Android-Project-Source-Code">Women Safety App android projects</a>
<a href="https://github.com/projectworlds32/Android-Calculator-App-Project-Source-Code">Android Calculator App Project</a>
<a href="https://github.com/projectworlds32/Expese-Tracker-Android-App">Expense Tracker Android App</a>
<a href="https://github.com/projectworlds32/Budget-Manager-Android-App">Budget Manager Android App</a>
<a href="https://github.com/brodeurlv/fastnfitness">Android Fitness App Project</a>
<a href="https://drive.google.com/open?id=1ZMRjKDgDbSS18KPJ4Ab9LzlLXVbHWwkX">Android FTP Server Project Source Code</a>
</body>
</html>