<!DOCTYPE html>
{%load static%}
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-compatible" content="IE=edge">
    <met name="viewport" content="width=device-width,initial-scale=1">
      <title>codefury.com</title>
  <link rel="stylesheet" href="{% static 'css/home.css'%}">

</head>
<body>

<div class="topnav">
 <h1>Edu Connect</h2>
  <a href="projects.html">Projects</a>
  <a href="blog">BLOG</a>
  <div id="b1">
   <a href="reg" class="a1">REGISTRATION</a>

    {%if user.is_authenticated %}
      <a href="logout">Logout</a>
    {% else %}
          <br>
    <a href="user_login">Login</a>
    <!--<a href= "google-OAuth2" %}">Google</a>-->

       {% endif %}
     </div>

</div>

<div id="grid1">
  <div class="row"><header><h2> WHAT WOULD YOU LIKE TO LEARN ?</h2></header>
  </div>
<div class="row">
    <div class="column"></div>
  <div class="column">
    <div class="card">
        <img src="{% static 'images/p1.png'%}" class="logo">
      <h3><a href="php_course" text-decoration: >PHP</a></h3>
          <p>frame work</p>
    </div>
  </div>

  <div class="column">
    <div class="card">
        <img src="{% static 'images/c1.jpg'%}" class="logo">
      <h3><a href="c_course">C Language</a></h3>
    <p>For Beginers</p>
    </div>
  </div>

  <div class="column">
    <div class="card">
        <img src="{% static 'images/c2.png'%}"  class="logo">
      <h3><a href="cpp_course">C++</a></h3>
      <p>Advance</p>
    </div>
  </div>

  <div class="column">
    <div class="card">
     <img src="{% static 'images/j2.png'%}"  class="logo">
     <h3><a href="java_course">JAVA</a></h3>
      <p>1M learner</p>
    </div>
</div>
</div>
<div class="row">
    <div class="column"></div>
  <div class="column">
    <div class="card">
      <img src="{% static 'images/h1.png'%}"  class="logo">
       <h3><a href="html_course">HTML</a></h3>
          <p>Web Design</p>
    </div>
  </div>

  <div class="column">
    <div class="card">
        <img src="{% static 'images/j1.jpg'%}" class="logo">
      <h3><a href="js_course">JAVA SCRIPT</a></h3>
      <p>Web Deisgn</p>
    </div>
  </div>

  <div class="column">
    <div class="card">
        <img src="{% static 'images/p2.jpg'%}"  class="logo">
      <h3><a href="python_course">PYTHON</a></h3>
      <p>For Data science</p>
    </div>
  </div>

  <div class="column">
    <div class="card">
        <img src=src="{% static 'images/a1.png'%}"  class="logo">
      <h3><a href="android_course">Android</a></h3>
      <p>1M learner</p>

  </div>
</div>
</div>

</div></div>
</body>
</html>
