<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>php projects</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="project.css">
</head>
<body>
  <header>
    <h1>CODE PLAYGROUND</h1>
  </header>
  <nav class="navbar navbar-dark bg-primary">
 <a href="a1.html">BACK</a>
 <a href="p2.html">HOME</a>
   <a href="home.html">REGISTRATION</a>
    <a href="home.html">SIGN OUT</a>
</nav>
<div class="container">
<a href="https://github.com/rskoolrash/Online-Admission-System">Online Student Admission</a>
<a href="https://github.com/projectworlds32/online-examination-systen-in-php">Online Examination System</a>
<a href="https://github.com/projectworlds32/online-attendance-system-in-php">Attendence Management System</a>
<a href="https://github.com/projectworlds32/online-blood-bank-management-system-in-php">Blood Bank Management System</a>
<a href="https://github.com/projectworlds32/online-shopping-webvsite-in-php">Online Shopping </a>
<a href="https://github.com/projectworlds32/Jwellary-shop-PHP-MYSQL-">Online Jwellary Shopping</a>
<a href="https://github.com/projectworlds32/online-book-store-project-in-php">Online Book Store</a>
<a href="https://github.com/projectworlds32/Hostel-Management-System-Project-in-PHP">Hotel Management System</a>

</body>
</html>