<!DOCTYPE html>
{%load static%}
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>php_course</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
  
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css'%}">
</head>
<body>
    
    <nav class="navbar navbar-dark bg-primary">
    <a href="a1.html">BACK</a>
    <a href="home.html">HOME</a>
    </nav>

    <header>
      <h1 >Welcome to the PHP Course</h1>
    </header>
    
    <div class="clr"></div>
  <div class="container">
    <div id="link">
      <ul>
        <li>
          <a href="https://youtube.com/playlist?list=PL4cUxeGkcC9gksOX3Kd9KPo-O68ncT05o">PHP tutorial for beginners</a></li>
        <li>
          <a href="https://youtube.com/playlist?list=PLS1QulWo1RIZc4GM_E04HCPEd_xpcaQgg">Php tutorial</a>
        </li>
      </ul>
      </div>
  </div>
</body>
</html>
